body {
    background-color:#fffdf3;
}

img {
    max-width:100%;
    display: block;
    margin-bottom:1em;
}

table  {
    margin-top:1.6em;
}

.well h3 {
    padding:10px 0;
    border-bottom:1px solid lightgrey;
}

table th {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.username {
    text-transform: uppercase;
    color:darkslategray;
    font-size:0.85em;
    letter-spacing: -1.5px;
}

.site-header h1 + p {
    font-size:1.1em;
}