.blockquote {
    background: rgba(255,255,255,.5);
    margin: 2rem 0 1em;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 1em 1em 2em;
    /* border: 1px solid #333; */
    /* border-left: 10px solid #333; */
    max-width: 100%;
    position: relative;
    text-align: center;
    border-left: none;
}

.blockquote p {
    line-height: 1.6;
    margin-left: 40px;
    font-size: 1.2em;    
}

/*.blockquote:before {
    top:-30px;
    left:15px;
    font-size: 10em;
    position:absolute;
    content:"\201C";
    color:rgba(0,0,0,.1);
}*/

/*.blockquote:after {
    content:"";
    border-right:13px solid white;
    border-left:13px solid #444;
    border-bottom:13px solid #444;
    border-top:13px solid white;
    position:absolute;
    top:-1px;
    right:-1px;
}*/

.blockquote footer {
    font-size: .9em;
}

.blockquote .quote_author {
    font-variant: small-caps;
}

.blockquote .quote_book {
    white-space: pre;
}
